/**
 * Variables
*/

/* Colour palette */
$bubble-gum-pink: #ff5ab7;
$black: #1e1e1e;
$pinkish-grey: #c4c4c4;
$black-5: rgb(0 0 0 / 5%);
$white: #fafafa;
$azure: #0290ff;
$white-two: #e8e8e8;
$pale-grey: #f5f6fa;

/* Typography */

/* Breakpoints */

/* Paths */

/* Grid setup */

/* Components */
